.feed{
    flex: 0.4;
    min-width: fit-content;
    overflow-y:scroll;
}

.feed__header{
    display: flex;
    align-items: center;
    
    position: sticky;
    top: 0;
    z-index: 100;
    padding: 2px;
    background-color:white;
    border: 2px solid var(--twitter-background);
}
.feed__header >h2{
    font-weight: 800;
    font-size: 20px;
}

.feed::-webkit-scrollbar{
    display:none;
}
